# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_INTEL_NIOSV

config SOC_SERIES
	default "intel-niosv"

# TBD extract from dts 
# default $(dt_node_int_prop_int,/cpus/cpu@0,clock-frequency) if RISCV_MACHINE_TIMER
# system.h define ALT_CPU_FREQ 50000000
config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 10000000

config NUM_IRQS
	default 16

config RISCV_HAS_CPU_IDLE
	default y

config RISCV_GP
	default y

config RISCV_SOC_INTERRUPT_INIT
    default y

## TBD extract from dts
config SRAM_SIZE
    default 100000 

endif # 
