# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_INTEL_NIOSV
	bool "INTEL NIOSV Processor"
	select RISCV
	select SOC_FAMILY_RISCV_PRIVILEGE
	help
	  Enable support for the INTEL NIOSV Processor.
